


@font-face {
font-family: 'berlingske_serifextrabold';
src: url("../fonts/berlingskeserif-xbd-webfont.woff2") format("woff2"), url("../fonts/berlingskeserif-xbd-webfont.woff") format("woff");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'berlingske_serif_stencidemiBd';
src: url("../fonts/berlingskeserifstencil-dbd-webfont.woff2") format("woff2"), url("../fonts/berlingskeserifstencil-dbd-webfont.woff") format("woff");
font-weight: normal;
font-style: normal;
}
