@font-face {
  font-family: 'URW Geometric';
  font-style: normal;
  font-weight: 400;
  src: url("https://raw.githubusercontent.com/kiwicopple/quick-font/master/fonts/urw_geometric/urw_-_urwgeometric-regular-webfont.woff2") format("woff2"),
    url("https://raw.githubusercontent.com/kiwicopple/quick-font/master/fonts/urw_geometric/urw_-_urwgeometric-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: 'URW Geometric';
  font-style: italic;
  font-weight: 400;
  src: url("https://raw.githubusercontent.com/kiwicopple/quick-font/master/fonts/urw_geometric/urw_-_urwgeometric-regularoblique-webfont.woff2")
      format("woff2"),
    url("https://raw.githubusercontent.com/kiwicopple/quick-font/master/fonts/urw_geometric/urw_-_urwgeometric-regularoblique-webfont.woff")
      format("woff");
}

@font-face {
  font-family: 'URW Geometric';
  font-style: normal;
  font-weight: 500;
  src: url("https://raw.githubusercontent.com/kiwicopple/quick-font/master/fonts/urw_geometric/urw_-_urwgeometric-medium-webfont.woff2") format("woff2"),
    url("https://raw.githubusercontent.com/kiwicopple/quick-font/master/fonts/urw_geometric/urw_-_urwgeometric-medium-webfont.woff") format("woff");
}

@font-face {
  font-family: 'URW Geometric';
  font-style: italic;
  font-weight: 500;
  src: url("https://raw.githubusercontent.com/kiwicopple/quick-font/master/fonts/urw_geometric/urw_-_urwgeometric-mediumoblique-webfont.woff2")
      format("woff2"),
    url("https://raw.githubusercontent.com/kiwicopple/quick-font/master/fonts/urw_geometric/urw_-_urwgeometric-mediumoblique-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'URW Geometric';
  font-style: normal;
  font-weight: 600;
  src: url("https://raw.githubusercontent.com/kiwicopple/quick-font/master/fonts/urw_geometric/urw_-_urwgeometric-semibold-webfont.woff2") format("woff2"),
    url("https://raw.githubusercontent.com/kiwicopple/quick-font/master/fonts/urw_geometric/urw_-_urwgeometric-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'URW Geometric';
  font-style: italic;
  font-weight: 600;
  src: url("https://raw.githubusercontent.com/kiwicopple/quick-font/master/fonts/urw_geometric/urw_-_urwgeometric-semiboldoblique-webfont.woff2")
      format("woff2"),
    url("https://raw.githubusercontent.com/kiwicopple/quick-font/master/fonts/urw_geometric/urw_-_urwgeometric-semiboldoblique-webfont.woff")
      format("woff");
}
