@charset "utf-8";

//
// BULMA
//

$red: #ed6664;
$green: #48a399;
$primary: $green;
$danger: $red;
$link: $green;
$grey: #484848;

// Update Bulma's global variables
$family-sans-serif: 'Circular', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial',
  sans-serif;

$tabs-link-active-color: $red;
$tabs-link-active-border-bottom-color: $red;

@import '../../../node_modules/bulma/bulma.sass';

//
// Helpers
//

// SPACING CSS - see usage: https://github.com/jgthms/bulma/issues/451#issuecomment-331758839
$sizeUnit: rem;
$marginKey: 'm';
$paddingKey: 'p';
$separator: '-';
$sizes: (
  ('none', 0),
  ('xxs', 0.125),
  ('xs', 0.25),
  ('sm', 0.5),
  ('md', 1),
  ('lg', 2),
  ('xl', 4),
  ('xxl', 8)
);
$positions: (('t', 'top'), ('r', 'right'), ('b', 'bottom'), ('l', 'left'));

@function sizeValue($key, $value) {
  @return if($key == 'none', 0, $value + $sizeUnit);
}

@each $size in $sizes {
  $sizeKey: nth($size, 1);
  $sizeValue: nth($size, 2);
  .#{$marginKey}#{$separator}#{$sizeKey} {
    margin: sizeValue($sizeKey, $sizeValue) !important;
  }
  .#{$paddingKey}#{$separator}#{$sizeKey} {
    padding: sizeValue($sizeKey, $sizeValue) !important;
  }
  @each $position in $positions {
    $posKey: nth($position, 1);
    $posValue: nth($position, 2);
    .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
      margin-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
    }
    .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
      padding-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
    }
  }
}

html,
body {
  background: #fdfdfd;
}
.has-background {
  background: #fdfdfd;
}
.has-shadow {
  box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2);
  transition: box-shadow 0.3s;
}
.has-soft-shadow {
  box-shadow: 0 5px 10px 0 rgba(0, 64, 128, 0.05);
}
.has-border-none {
  border: none;
}
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: $primary;
}
::selection {
  color: white;
  background: $primary;
}

.FontBlock {
  height: 100%;
  .content {
    h1,
    h2,
    h3 {
      margin: 0px 0 10px 0;
    }
    textarea {
      width: 100%;
      border: none;
      resize: none;
    }
  }

  pre {
    padding: 15px 15px;
    border-radius: 5px;
    overflow-x: auto;
    background: #484848;
    color: #fff;
    font-size: 0.8rem;
  }
}

.is-hidden {
  display: none;
}

.hero-body .container {
  max-width: 1000px;
}
@media only screen and (max-width: 769px) {
  .hero-body .container .text-column {
    text-align: center;
  }
}

.sticky-top {
  position: sticky;
  top: 0;
}

.modal-content {
  .box {
    max-height: 100%;
    overflow-y: auto;
  }
}
