{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "rules": {
    "quotes": ["warn", "single"],
    "semi": ["warn", "never"],
    "no-unused-vars": ["warn"],
    "no-console": "off"
  }
}